* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;

    height: 100vh;
}

.select-holiday {
    position: absolute;
    left: 50%;
    top: 0.2rem;
    transform: translateX(-50%);
}

.container {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0.2rem;

    width: 100%;
    height: 100%;
}


.message-container {
    font-size: 4rem;
}
