body {

    margin-top: 10vh;

    color: white;
    background: black;
    font-family: DejaVuSansMono, monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    /* color: rgb(0, 255, 0); */
    color: rgb(194, 255, 173);

    font-size: 2;

    letter-spacing: 2px;
}