:root {
    --dark-color-1: #312e2b;
    --dark-color-2: #272522;
    --dark-color-3: #888686;
}

* {
	margin: 0;
	padding: 0;
}

/* page struture */

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background: var(--dark-color-1);
	color: var(--dark-color-3);
}

.content {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1.6180339887fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    
    padding: 1rem;

    height: 100%;
}

@media only screen and (max-width: 750px) {
    .content {
        grid-template-rows: 1fr 1.6180339887fr;
        grid-template-columns: 1fr;
    }
}

.content .container {
    box-sizing: content-box;
    
    padding: 1rem;
    
    background-color: var(--dark-color-2);
    border-radius: 0.1rem;
}

/* text box area */

.content .text {
    display: grid;
    grid-template-rows: 1fr 0.3fr 1fr;
}

.content .text .textarea-container {
    display: flex;
    flex-direction: column;
    min-height: 7rem;
    border: 1px solid var(--dark-color-3);
    padding: 3px;
}

.content .text .textarea-container label {
    display: flex;
    justify-content: space-between;
}

.content .text .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .text textarea {
    box-sizing: border-box;
    flex-grow: 1;
}

.text label {
    display: block;
    color: white;
}

.content .text .text-box {
    resize: vertical;
}

/* Controls */

.content .all-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 1rem;

    color: white;
}

.content .all-controls .control-groups {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.content .all-controls .control-group {
    width: max-content;
    box-sizing: border-box;
    
    border: 1px solid var(--dark-color-3);
    
    padding: 0.3rem;
        
    border-radius: 0.1rem;
}

.content .all-controls .control-group ul {
    list-style: none;
}

.content .all-controls .control-group.control-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.content .all-controls .control-group label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    border-radius: 0.5rem;
    padding: .2rem;
    user-select: none;
    cursor: pointer;
}

.content .all-controls .control-group label:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

button {
    cursor: pointer;
}