* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

li {
    margin-left: 1rem;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

/* section {
    outline: auto;
} */

main {
	display: grid;

	background-color: darkgray;

	height: 100%;

	grid-template-columns: 1.618fr 1fr;
	grid-template-rows: 1.618fr 1fr;
}

#header {
	position: absolute;
	width: 100%;
	padding: 0.2rem;

	user-select: none;

	color: white;
	background-color: darkblue;
}

.slider {
    --thumb-width: 15px;

	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--thumb-width);
	height: var(--thumb-width);
	background: #04aa6d;
}

.slider::-moz-range-thumb {
	width: var(--thumb-width);
	height: var(--thumb-width);
	background: #04aa6d;
}

#display {
	display: grid;

	grid-template-rows: 1fr;

	grid-template-areas:
		"v-slider display"
		". h-slider";
}

#floor-angle {
	grid-area: v-slider;
}

#car-setpoint {
	flex-shrink: 2;
	height: 1px;
	grid-area: h-slider;
}

#display #display-canvas {
	grid-area: display;

	width: 100%;
	height: 100%;
	flex-grow: 1;

	/* border: 1px solid black; */
}

input[type="range"][orient="v"] {
    writing-mode: vertical-lr;
	width: 8px;
	height: 100%;
	padding: 0 5px;
}
