* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

html {
    font-family: "Luxurious Roman", sans-serif;

    height: 100%;
    width: 100%;
}

body {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 5fr 1fr;
    /* grid-template-rows: 5fr 1fr; */

    grid-template-areas: 
        "decimal    decimal"
        "explain    explain"
        "numeral    numeral";

    height: 100%;
    width: 100%;

    background-color: #D2B48C;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.input-box.decimal {
    grid-area: decimal;
}

.input-box.numeral {
    grid-area: numeral;
}

.input-box input {
    width: 75%;
    height: 75%;
    padding: 3rem;

    font-family: inherit;

    font-size: 7rem;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

.explanation {
    grid-area: explain;

    gap: 1rem;
    flex-direction: row;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.explanation .card {
    min-width: 10%;
    width: max-content;
    max-width: 30%;

    height: 85%;

    padding: 0.5rem;

    background-color: antiquewhite;
    border-radius: 1rem;
}

.explanation .card-numeral {
    height: 85%;
    max-width: 100%;

    font-size: 500%;

    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation .card-number {
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;

    outline: 1px solid black;
    border-radius: 5px;
}

.under-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 0.5rem;
}

.under-text.settings {
    gap: 1rem;
}

.check-mark {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */

    text-align: center;
    
    gap: 0.3rem;

    user-select: none;

    padding: 0 0.4rem;
    outline: 1px solid black;
    border-radius: 0.1rem;
}

.check-mark:hover {
    background-color: blu;
}

.check-mark:hover input {
    border-color: blue;
}

.check-mark:has(:checked) {
    background-color: rgba(134, 134, 253, 0.1);
}

.check-mark input {
    scale: 1.2;
    border-color: #07f;
}

.check-mark label {
    width: max-content;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .under-text {
        flex-direction: column;
        width: max-content;
    }

    .explanation .card-numeral {
        font-size: 300%;
    }

    .under-text.settings {
        margin-bottom: 1rem;
    }  

    .input-box input {
        margin: 0rem;
        padding: 0.5rem;
        width: 90%;
    }
}